* {
    margin: 0;
    padding: 0;
    font-family: 'Verdana';
    font-style: normal;
    box-sizing: border-box;

    overflow-x: hidden;
}



body::-webkit-scrollbar {
    width: 5px;


}

/*Стили чтобы уменьшить вертикальный скрол в body  */


body::-webkit-scrollbar-thumb {
    background: #c4c4c4;

    border-radius: 4px;
    box-sizing: border-box;
}

.container {
    max-width: 76.25rem;
    margin: 0 auto;
}

.flex_between {
    display: flex;
    justify-content: space-between;
}

.block_padding {
    padding: 4rem 0;
}

.white_text {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
}

@media screen and (max-width: 955px) {
    .flex_between {
        display: initial;
        //justify-content:center;
    }

    .container {
        max-width: 1220px;
        margin: 0 auto;
        padding: 0 24px;
    }

    .white_text {
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        color: #FFFFFF;
    }

    .white_text {
        font-size: 17px;
        line-height: 21px;
    }
}