@import '../Variables/index.scss';

.sliderHome {
    // position: relative;
    // z-index: 0;
}

.allAbouts {
    //display: flex;
    //width: 90%;
    //margin: 0 auto;
    //// background: #61B857;
    //margin-bottom: 64px;
    //justify-content: space-between;


    .about__contents_images {
        position: relative;
        // background: rebeccapurple;
    }

    .about_img {
        position: relative;
        z-index: 5;
         top: -80px
    }


    .about__contents {
        align-self: center;
        width: 50%;
        // background: red;
    }

    // .about__contents {
    //     // width: 60%;
    //     // align-self: center;
    //     margin-right: 80px;
    //     margin-top: 20px;
    //     background: red;
    // }

    .about__content_title {
        font-family: $fontFamily;
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 44px;
        color: $colorTeaxtBlue;
    }

    .about__content_text {
        font-family: $fontFamily;
        padding-top: 16px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        /* or 24px */

        text-align: justify;
        margin-bottom: 32px;
        /* Черный */

        color: #333333;
    }

    .about_btn {
        background: #61B857;
        /* тень базовая */

        box-shadow: 3px 3px 6px rgba(51, 51, 51, 0.25);
        border-radius: 5px;
        padding-top: 16px;
        padding-bottom: 16px;
        padding-left: 32px;
        padding-right: 32px;

        font-family: $fontFamily;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        border: 0;
        color: #FFFFFF;
        margin: 0 auto;
        display: block;
    }
}

// }












.services {
    width: 90%;
    margin: 0 auto;



    .services__title {



        font-family: $fontFamily;
        font-style: normal;
        line-height: 44px;
        font-size: 2rem;
        color: $colorText;
        text-align: start;

    }

    .services__conteiner {

        display: flex;
        flex-wrap: wrap;
         justify-content: center;


    }

    .services_img {
        width: 286px;
        height: 500px;


    }



}



.events {
    background-size: cover;
    background-repeat: no-repeat;

    width: 100%;
    // height: 441px;
    object-fit: cover;
    background-image: url(../images/FonEvents.svg);
    // padding-bottom: 20px;

    .events1 {

        width: 90%;
        // max-width: 76.25rem;
        // background: rebeccapurple;
        margin: 0 auto;

    }

    .events__title {
        color: $bacrountConteiner;
        padding-top: 64px;
    }
}

@media screen and (max-width: 1000px) {
    .allAbouts {
        display: flex;
        justify-content:center;
        align-items: center;

        .about__contents_images {

        }
        .about__contents {
            align-self: center;
            width: 100%;
        }
        .about_img {
            width: 100%;
            top: -24px
        }
        .about__content_title {
            font-family: $fontFamily;
            font-style: normal;
            font-weight: 700;
            font-size: 36px;
            line-height: 44px;
            color: $colorTeaxtBlue;
        }

        .about__content_text {
            font-family: $fontFamily;
            padding-top: 16px;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            /* or 24px */

            text-align: justify;
            margin-bottom: 32px;
            /* Черный */

            color: #333333;
        }

        .about_btn {
            background: #61B857;
            /* тень базовая */

            box-shadow: 3px 3px 6px rgba(51, 51, 51, 0.25);
            border-radius: 5px;
            padding-top: 16px;
            padding-bottom: 16px;
            padding-left: 32px;
            padding-right: 32px;

            font-family: $fontFamily;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            border: 0;
            color: #FFFFFF;
            margin: 0 auto;
            display: block;
        }
    }
}