@import '../Variables/index.scss';


.switch_texst {
    cursor: pointer;
    // padding-right: 90px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    // background: rebeccapurple;
}

.switch__radio {
    // padding-left: 3rem;
    position: relative;
    z-index: 0;
    cursor: pointer;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;

    color: #000000;
}

.switch__radio:hover {
    color: #1959AB;
}



.conteiner__blok {
    // width: 166px;
    // background: #1959AB;
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-bottom: 16px;
}



.icon__countury {
    padding-left: 20px;
    padding-right: 16px;
}

.conteiner__blok_last {
    // width: 180px;
    display: flex;
    flex-direction: row;
    align-items: center;

}

.conteiner__blok:hover {
    color: #1959AB;
    cursor: pointer;
}

.conteiner__blok_last:hover {
    color: #1959AB;
    cursor: pointer;
}



@media screen and (max-width: 500px) {

    .switch__radio {

        font-size: 14px;
        line-height: 17px;
        font-weight: 400;
        color: #333333;
    }

}