@import '../Variables/index.scss';




.span {
    // width: 526px;
    padding-top: 16px;
    padding-left: 5%;
    padding-bottom: 16px;
    padding-right: 16px;
    background: #1959AB;
    border-radius: 0px 5px 5px 0;
    display: inline-block;
    font-family: $fontFamily;
    font-style: normal;
    font-weight: 700;
    font-size: 1.5em;
    line-height: 2.75rem;


    // text-align: center;

    color: #FFFFFF;
}

@media screen and (max-width: 953px) {
    .span {
        font-size: 27px;
        line-height: 33px;
    }


}

@media screen and (max-width: 600px) {
    .span {
        font-size: 24px;
        line-height: 33px;
    }


}