@import '../Variables/index.scss';


.navbar {
    position: absolute;
    z-index: 1;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(7.5px);
    width: 100%;
    // height: 70px;
    white-space: nowrap;
    padding-top: 0.625rem;
    padding-bottom: 0.5rem;
    // background: red;

    .navbar_item {

        margin-left: 10px;
        margin-right: 10px;
    }

    .navbar__conteinerss {
        max-width: 90%;

        display: flex;
        margin: 0 auto;
        justify-content: space-between;
    }

    .navbar__logo {
        width: 11.25rem;
    }



    .navbar_item {
        // width: 740px;
        display: flex;
        // flex-direction: row;
        // justify-content: space-between;
        align-items: center;
        // background: rebeccapurple;
    }

    .active {
        margin-right: 32px;
        font-family: $fontFamily;
        font-style: normal;
        font-weight: 400;
        font-size: 1.125rem;

        line-height: 1.375rem;
        color: #1959AB;
        text-decoration: none;
    }


    .navbar_item_to {
        margin-right: 32px;
        font-family: $fontFamily;
        font-style: normal;
        font-weight: 400;
        font-size: 1.125rem;
        // font-size: 12px;
        line-height: 1.375rem;
        color: $colorText;
        text-decoration: none;

    }

}


.languagesBar {
    position: absolute;

    top: 14%;
    left: 81%;

    z-index: 5;
    // background: rebeccapurple;


    padding: 16px;
    background: $bacrountConteiner;
    border-radius: 5px;
    padding: 16px;
}