@import '../Variables/index.scss';

.content {
    display: flex;
    flex-wrap: wrap;
    // justify-content: space-between;
    justify-content: space-around;
    // background: red;
}



.wrapper {
    // min-width: 588px;
    // min-height: 588px;
    width: 100%;
    // height: 588px;
    margin: 0;
    max-width: 588px;
    // background: #1959AB;
    margin-top: 64px;
    overflow: hidden;
    position: relative;


    .wrapper__imgFon {

        // background-repeat: no-repeat;
        // width: 588px;
        // height: 588px;
        // height: 588px;
        width: 100%;
        // height: auto;


        // margin: -10% 0 0 0;
        // background-size: cover;
        // height: 588px;
        // display: block;

    }

    .wrapper__conteiner {
        // z-index: 5;

        // width: 100%;
        // width: 588px;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 50%;



        background: rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(7.5px);
        // background: red;


        .wrapper__conteiner__date {
            // overflow: hidden;

            // display: inline;
            background: #1959AB;
            position: absolute;
            left: 8px;

            box-shadow: 3px 3px 6px rgba(51, 51, 51, 0.25);
            border-radius: 5px;

            padding-top: 8px;
            padding-bottom: 8px;
            padding-left: 13px;
            padding-right: 13px;

            color: $bacrountConteiner;

            font-weight: 700;
            font-size: 36px;
            line-height: 2.47rem;

        }

        .wrapper__conteiner__title {
            // display: inline;
            // width: ;
            color: $colorText;
            text-align: center;
            position: absolute;
            top: 76px;
            font-weight: 700;
            font-size: 24px;
            line-height: 29px;
            background: red;
            white-space: normal;
        }


    }





}



@media screen and (max-width: 599px) {

    .wrapper__conteiner__title {
        font-size: 15px;
    }

}