.conteiner__icon {
    display: flex;
    flex-direction: column;

}


.icon {
    padding-bottom: 15px;
}

@media screen and (max-width: 1000px) {
    .icon {
        width: 45px;
        height: 45px;
    }
}