.coments_cont {
  border: 1px solid #000000;
  border-radius: 5px;
  padding: 32px 16px;
}
%text_cont {
  background: #FFFFFF;
  border-radius: 5px;
  padding: 32px;
  //border: 1px solid black;
}

.usertext_cont {
  @extend %text_cont;
}

.admintext_cont {
  @extend %text_cont;
  border: 3px solid #1959AB;
}

%name {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: justify;
  margin-bottom: 8px;
}
.comment_username {
  @extend %name;
}

.comment_adminname {
  @extend %name;
  color: #1959AB;
  margin-top: 15px;
}

@media screen and (max-width: 500px) {
  .usertext_cont {
    padding: 8px;
  }
  .admintext_cont {
    padding: 8px;
    border: 2px solid #1959AB;
  }
}