.spinner {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    background: rebeccapurple;
}


.errors {
    color: red;
    margin-top: 50px;
    display: flex;
    justify-content: center;

}