.active {
    display: inline-block;
}

.inactive {
    display: none;
}

.slideshow {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.tiitleOne {
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    text-align: center;

    /* Белый */

    color: #FFFFFF;
}


.contentSlider {

    text-align: center;
    /* background: red; */
    position: absolute;
    top: 29%;
    left: 10%;
    right: 10%;

}

.btn {

    margin-top: 64px;
    background: #61B857;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 32px;
    padding-right: 32px;
    border: 0;
    color: #FFFFFF;
    box-shadow: 3px 3px 6px rgba(51, 51, 51, 0.25);
    border-radius: 5px;


    font-size: 16px;
    line-height: 19px;
}


.titleBig {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;

    color: #FFFFFF;
    text-align: center;
}

.titleSmoll {
    padding-top: 32px;
    padding-bottom: 32px;

    text-align: center;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;

    color: #FFFFFF;
}


.events__block {


    position: absolute;
    top: 27%;
    /* top: 10%; */
    /* width: 60%; */
    left: 17%;
    right: 17%;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(7.5px);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 5px;
}

.events__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    /* text-align: center; */
    color: #FFFFFF;
    padding: 16px;
}

.events_contents {
    width: 94%;

    margin: 0 auto;
    /* margin-top: 02px; */
    text-align: center;
}

.events_contents_title {
    text-align: center;
    /* font-weight: 700; */
    font-size: 40px;
    line-height: 58px;
    color: #333333;

}

.events__btn {
    margin-top: 48px;
    margin-bottom: 48px;
    background: #61B857;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 32px;
    padding-right: 32px;
    border: 0;
    color: #FFFFFF;
    box-shadow: 3px 3px 6px rgba(51, 51, 51, 0.25);
    border-radius: 5px;


    font-size: 16px;
    line-height: 19px;
}

.events_data {
    background: #1959AB;
    /* тень базовая */

    box-shadow: 3px 3px 6px rgba(51, 51, 51, 0.25);
    border-radius: 5px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 15px;
    padding-bottom: 15px;
    position: relative;
    z-index: 5;
    margin-bottom: 32px;
    margin-left: -5px;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    border: 0;
    color: #FFFFFF;

}



@media screen and (max-width: 500px) {
    .contentSlider {
        /* margin: 0 auto; */
        /* background: red; */
        position: absolute;
        top: 23%;
        left: 8%;
        right: 8%;

    }




    .tiitleOne {
        font-size: 30px;
        line-height: 36px;

    }

    .titleBig {
        font-size: 20px;

    }

    .titleSmoll {
        font-size: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
        /* background: #61B857; */

    }

    .btn {
        margin-top: 20px;


        font-size: 13px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 12px;
        padding-right: 12px;
    }

    .events__title {
        font-size: 20px;
        line-height: 24px;
    }

    .events_contents_title {
        font-size: 20px;
        line-height: 24px;
    }


    .events__btn {
        margin-top: 16px;
        margin-bottom: 40px;
        font-size: 14px;
        line-height: 17px;

    }


    .events__block {


        position: absolute;
        top: 22%;
        /* top: 10%; */
        /* width: 60%; */
        left: 10%;
        right: 10%;
        background: rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(7.5px);
        /* Note: backdrop-filter has minimal browser support */

        border-radius: 5px;
    }


    .events_data {
        font-size: 14px;
        line-height: 17px;
        margin-bottom: 16px;


        padding-top: 8px;
        padding-bottom: 8px;
        padding-left: 16px;
        padding-right: 16px;
    }


}


.d {
    background: red;
}


.slideImage {
    width: 100%;
    background-size: 100%;
    -moz-background-size: 100%;
    /* Firefox 3.6+ */
    -webkit-background-size: 100%;
    /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%;
    /* Opera 9.6+ */
    background-size: 100%;
    /* Современные браузеры */

    /* height: 500px; */
    min-height: 100vh;
    /* height: auto; */
    object-fit: cover;
    animation: zoom 20s infinite;
    object-fit: cover;

}







.operations {

    /* background: rebeccapurple; */
    position: absolute;
    top: 65%;
    /* z-index: 5; */

    display: flex;

}

.operations__icon {
    margin-left: 70px;
    margin-right: 188px;
}

.LanguagesBar {

    position: relative;
    top: 50px;
    z-index: 5;
}

.arrows {
    display: flex;
    align-items: flex-end;
    padding-bottom: 22px;

}

.paginations {

    display: flex;

}

.paginations__number {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 5px;


    font-family: 'Verdana';
    font-style: normal;
    /* font-weight: 600; */
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #BDBDBD;
}

.paginations__numberActive {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 5px;


    font-family: 'Verdana';
    font-style: normal;
    /* font-weight: 600; */
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    color: #FFFFFF;

}


@media screen and (max-width: 500px) {}