.active {
    display: inline-block;
}

.inactive {
    display: none;
}

.slideshow {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}


.slideImage {
    width: 100%;
    background-size: 100%;
    -moz-background-size: 100%;
    /* Firefox 3.6+ */
    -webkit-background-size: 100%;
    /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%;
    /* Opera 9.6+ */
    background-size: 100%;
    /* Современные браузеры */

    /* height: 500px; */
    height: auto;
    object-fit: cover;
    animation: zoom 20s infinite;
    object-fit: cover;

}





.btn {
    position: absolute;
    top: 55%;
    left: 45%;
    /* z-index: 5; */
    background: #61B857;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 32px;
    padding-right: 32px;
    border: 0;
    color: #FFFFFF;
    box-shadow: 3px 3px 6px rgba(51, 51, 51, 0.25);
    border-radius: 5px;

    font-family: 'Verdana';
    font-style: normal;
    /* font-weight: 400; */
    font-size: 16px;
    line-height: 19px;
}



.operations {

    /* background: rebeccapurple; */
    position: absolute;
    top: 65%;
    /* z-index: 5; */

    display: flex;

}

.operations__icon {
    margin-left: 70px;
    margin-right: 188px;
}

.LanguagesBar {

    position: relative;
    top: 50px;
    z-index: 5;
}

.arrows {
    display: flex;
    align-items: flex-end;
    padding-bottom: 22px;

}

.paginations {

    display: flex;

}

.paginations__number {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 5px;


    font-family: 'Verdana';
    font-style: normal;
    /* font-weight: 600; */
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #BDBDBD;
}

.paginations__numberActive {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 5px;


    font-family: 'Verdana';
    font-style: normal;
    /* font-weight: 600; */
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    color: #FFFFFF;

}